# Coding the Matrix
# Chapter 0 
## Set and Functions

In [2]:
# Task 0.5.1
# Using Python as a calculator
# No. of minutes in a week
7*24*60*60

604800

In [3]:
# Task 0.5.2
# To find the remainder
2304811%47

25

#### Boolean Operators used for comparisons and returns TRUE or FALSE

In [4]:
# Task 0.5.3
# Examples :-
(673+909)%3 == 0

False

In [5]:
# Task 0.5.4
x = -9
y = 1/2
2**(y+1/2) if x+10<0 else 2**(y-1/2)

1.0

## 0.1 Sets
### Sets can be defined using the {} brackets in python.
#### 1. Sets are mutable.
#### 2. We cannot store duplicates in sets.

In [6]:
# Defining a set 
{1+2, 3, 'a'}

{3, 'a'}

In [7]:
# The above result gave only 2 element as sets cannot store duplicates.

In [8]:
# Cardinality of a set.
len({'a','b','c','a','a'})
# Python first remove the duplicates from the set and then calculate the length of the set.

3

In [10]:
# Summing the elements of a set
sum({1,2,3})

6

In [11]:
sum({1,2,3},10)

16

In [12]:
# testing the membership of an element.
1 in {1,2,3}

True

In [13]:
1 not in {1,2,3}

False

In [14]:
# Union of sets is done by using '|' operator
{1,2,3,4} | {3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [15]:
# Intersection of sets is done by using '&' operator
{1,2,3,4} & {3,4,5,6}

{3, 4}

In [17]:
# Mutating a set
S = {1,2,3}

# adding an element in the set
S.add(4)
S

{1, 2, 3, 4}

In [18]:
# removing an element from the set
S.remove(2)
S

{1, 3, 4}

In [20]:
# more than one element can be added to the set using "update"
S.update({4,5,6})
S

{1, 3, 4, 5, 6}

In [22]:
# intersection_update will take the intersection of the set and the argument provided and update the existing set.
S.intersection_update({4,5,6})
S

{4, 5, 6}

##### Notice that all the function above change the original form of the set.
##### We can also create copy of the set and then make changes in the set using "copy".

In [23]:
T = S.copy()

#### Most Important feature of Python is comprehension. Comprehension helps us in shrinking the length of the code.
#### Few examples of comprehensions.

In [25]:
# Set Comprehensions example 1 :- return twice of each no. in a set
{2*x for x in {1,2,3}}

{2, 4, 6}

In [29]:
# Task 0.5.5
# Set Comprehensions example 2 :- return square of each no. in a set
{x**2 for x in {1,2,3,4,5}}

{1, 4, 9, 16, 25}

In [28]:
# Task 0.5.6
# Set Comprehensions example 3 :- return exponential of each no. in a set
{2**x for x in {0,1,2,3,4}}

{1, 2, 4, 8, 16}

In [34]:
# Set comprehension with union and intersection
S = {1,2,3,4}
{x*x for x in S | {5,7}}
# This will combine the S with set {5,7} and then apply the comprehension

{1, 4, 9, 16, 25, 49}

In [35]:
# We can also filter values from the results using comparison operators
{x*x for x in S | {5,7} if x > 2}

{9, 16, 25, 49}

In [38]:
# Task 0.5.7
# Double Comprehension can be written like this.
{x*y for x in {1,2,3} for y in {4,5,6}}
# we are multiplying every element of x with every element of y

{4, 5, 6, 8, 10, 12, 15, 18}

In [39]:
# Task 0.5.8
#Double Comprehension with a filter
{x*y for x in {1,2,3} for y in {2,3,4} if x!=y}

{2, 3, 4, 6, 8, 12}

In [41]:
# Task 0.5.9
# finding common items in 2 sets
S = {1,2,3,4}
T = {3,4,5,6}
{x for x in S for y in T if x==y}

{3, 4}

## 0.2 Lists
### List can be defined using [ ] brackets.

#### Lists are mutable
#### List allow duplicate items

In [42]:
# Saving some elements in a list
[1,1+1,2,3,2]

[1, 2, 2, 3, 2]

In [47]:
# A list can contain a set or list.
[[1,1+1,3],{2*2,3,5},"yo"]

[[1, 2, 3], {3, 4, 5}, 'yo']

In [52]:
# length of a list or a set can calculated using "len" function
len([[1,1+1,3],{2*2,3,5},"yo","yo"])

4

In [54]:
# Sum of a list or a set can be calculated using "sum" function
sum([1,1,0,1,0,1])

4

In [90]:
# Task 0.5.10
# Average of elements in a list
S = [20,10,15,75]
sum(S)/len(S)

30.0

In [55]:
# List Concatenation
[1,2,3] + ["my","word"]

[1, 2, 3, 'my', 'word']

In [57]:
# using Sum function for concatenation of lists
sum([[1,2,3] , ["my","word"]],[])

[1, 2, 3, 'my', 'word']

#### Comprehensions can be used on lists as well
#### Notice that the bracket outside the comprehension is [ ] which mean it will return a list. if brackets are {} the it will retrun a set

In [59]:
# List Comprehensions
[2*x for x in {2,1,3,4}]

[2, 4, 6, 8]

In [61]:
# Please note that list do not sort you elements but set does.
# In above command as the operation is done on a set, the result that came out was sorted in ascending order.
# Below command will not produce a sorted result as the operation is done on a list.
[2*x for x in [2,1,3,4]]

[4, 2, 6, 8]

In [62]:
# Double Comprehension in lists
[x*y for x in [1,2,3] for y in [10,20,30]]

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [91]:
# Task 0.5.11
[[x,y] for x in ['A','B','C'] for y in [1,2,3]]

[['A', 1],
 ['A', 2],
 ['A', 3],
 ['B', 1],
 ['B', 2],
 ['B', 3],
 ['C', 1],
 ['C', 2],
 ['C', 3]]

In [67]:
# Indexing of a list can be done using [ ]
# Eg. 
L = [0,10,20,30,40,50,60,70,80,90]
# First 5 elements of L 
L[:5]

[0, 10, 20, 30, 40]

In [68]:
# 5th onwards elements of a list
L[5:]

[50, 60, 70, 80, 90]

In [71]:
# Slice the cth element
L[::2] # Index with even numbers

[0, 20, 40, 60, 80]

In [72]:
L[1::2] # Index with odd numbers

[10, 30, 50, 70, 90]

In [73]:
# assingning a list of variables
[x,y,z] = [4*1, 4*2, 4*3]

In [76]:
x

4

In [93]:
# Caluculating sum of all elemnts in a list
LofL = [[.25,.75,.1],[-1,0],[4,4,4,4]]
# if lists are saved within a list then sum function can't be applied directly, it will show an error
sum(LofL)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [94]:
# Task 0.5.12
# Apply sum function on each elements and then sum it all together
sum([sum(LofL[0]),sum(LofL[1]),sum(LofL[2])])

16.1

In [96]:
# Task 0.5.13
# length should match on both sides
[a,b,c,d] = [12,45,6]

ValueError: not enough values to unpack (expected 4, got 3)

## Tuples
### Tuples can be defined using () brackets 

#### Tuples are immutable
#### Tuples allow duplicates

In [82]:
# A tuple
(1,1+1,3)

(1, 2, 3)

In [84]:
# Tuples(immutable) can be a part of the set
{0,(1,2)} | {(3,4,5)}

{(1, 2), (3, 4, 5), 0}

In [85]:
# A set can be a element of Tuples
(1,{"A","B"},3.14)[2]

3.14

In [86]:
# Unpacking with tuples
(a,b) = (1,3)

In [88]:
b

3

#### Some comprehensions using tuples

In [97]:
# Task 0.5.14
S = {-4,-2,1,2,5,0}
[(x,y,z) for x in S for y in S for z in S if x+y+z == 0]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

In [98]:
# Task 0.5.15
[(x,y,z) for x in S for y in S for z in S if x+y+z == 0 and (x,y,z) != (0,0,0)]

[(0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

In [99]:
#Task 0.5.16
[(x,y,z) for x in S for y in S for z in S if (x,y,z) == (0,0,0)]

[(0, 0, 0)]

In [100]:
'''Python can compute a set from another collection (e.g. a list) using the constructor set(·). 
Similarly, the constructor list(·) computes a list, and the constructor tuple(·) computes a tuple '''
# list to set
set([0,1,2,3,4,4])

{0, 1, 2, 3, 4}

In [101]:
# tuples to set
set((0,1,2,3,4,4))

{0, 1, 2, 3, 4}

In [102]:
# set to list
list({0,1,2,3,4,4})

[0, 1, 2, 3, 4]

In [103]:
# tuple to list
list((0,1,2,3,4,4))

[0, 1, 2, 3, 4, 4]

In [104]:
# list to tuples 
tuple([0,1,2,3,4,4])

(0, 1, 2, 3, 4, 4)

In [105]:
# set to tuples
tuple({0,1,2,3,4,4})

(0, 1, 2, 3, 4)

In [106]:
''' If we try to create a tuple using comrehensions then the result will be a generator not a tuple.
Generator is not covered in the book'''
(x for x in (1,2,3))

#### Ranges 
##### A range plays the role of a list consisting of the elements of an arithmetic progression.

In [108]:
range(10) # this represents a list from 0 to 10.

range(0, 10)

In [109]:
{x*x for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [111]:
# a range is not a list, we need to convert it using list() function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
range(10,20) # a sequence between 10 to 20

range(10, 20, 2)

In [113]:
range(10,20,2) # a sequence between 10 to 20 with a jump of 2

range(10, 20, 2)

In [114]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

#### Zip
#### A zip is constructed from other collections all of the same length. 
#### Each element of the zip is a tuple consisting of one element from each of the input collections.

In [116]:
list(zip([1,2,3],[3,4,5]))

[(1, 3), (2, 4), (3, 5)]

In [118]:
# An example of zip
characters = ['Neo','Morepheus','Trinity']
actors = ['keanu','Launrence','Carrie-Anne']
set(zip(characters,actors))

[characters+' is played by '+actors for (characters,actors) in zip(characters,actors)]

['Neo is played by keanu',
 'Morepheus is played by Launrence',
 'Trinity is played by Carrie-Anne']

In [119]:
# Task 0.5.19
L = ['A','B','C','D','E']
list(zip(range(5),L))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

In [120]:
# Task 0.5.20
[x+y for (x,y) in zip([10,25,40],[1,15,20])]

[11, 40, 60]

In [121]:
# reversed changes the order of the list
[x for x in  reversed([1,2,3])]

[3, 2, 1]

### Dictionaries
#### A dictionary is a set of key-value pairs.

In [122]:
{2:'two',3:'three',5:'five'}

{2: 'two', 3: 'three', 5: 'five'}

In [124]:
# to get the keys from the dictionary
{2:'two',3:'three',5:'five'}.keys()

dict_keys([2, 3, 5])

In [125]:
# to get the values from the dictionary
{2:'two',3:'three',5:'five'}.values()

dict_values(['two', 'three', 'five'])

In [127]:
# indexing into python dictionaries
{2:'two',3:'three',5:'five'}[2]
# Please note that '2' in the square bracket do not mean 2nd element but key = 2. Hence the result would be 'two'

'two'

In [129]:
# Another example
mydict = {'Neo': 'keanu','Morepheus':'Laurence','Trninity':'Carrie-Anne'}
mydict['Neo']

'keanu'

In [131]:
# testing the membership is done by key not by value
'Neo' in mydict

True

In [133]:
# Task 0.5.21
# Returning the values of a key from a list of dictionaries
dlist = [{'James':'Sean','director':'Terence'},{'James':'Roger','director':'Lewis'},{'James':'Pierce','director':'Roger'}]
[x['James'] for x in dlist]

['Sean', 'Roger', 'Pierce']

In [3]:
# Task 0.5.22
# Returning the values of a key from a list of dictionaries and return "NOT PRESENT" if not found
dlist = [{'Bilbo':'Ian','Frodo':'Elijah'},{'Bilbo':'Martin','Thorin':'Richard'}]
[x['Bilbo'] if 'Bilbo' in x else 'NotPresent' for x in dlist]

['Ian', 'Martin']

In [4]:
[x['Frodo'] if 'Frodo' in x else 'NotPresent' for x in dlist]

['Elijah', 'NotPresent']

In [6]:
# Mutating a dictionary
# We can mutate a dictionary i.e. we can change the values, add more values etc.
mydict = {'Neo': 'keanu','Morepheus':'Laurence','Trninity':'Carrie-Anne'}
mydict['Agent Smith'] = 'Hugo'
mydict

{'Neo': 'keanu',
 'Morepheus': 'Laurence',
 'Trninity': 'Carrie-Anne',
 'Agent Smith': 'Hugo'}

In [8]:
###### Dictionary Comprehension #######
# We can construct a dictionaries using comprehensions
{k:v for (k,v) in [(3,2),(4,0),(100,1)]}

{3: 2, 4: 0, 100: 1}

In [9]:
# Task 0.5.23
# Creating a dictionary with keys as 0 to 99 and values as the square of the keys
{x:x**2 for x in range(100)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [10]:
# Task 0.5.24
# Assign some set to the variable D, e.g. D ={'red','white','blue'}. Now write a comprehension that evaluates to a dictionary that represents the identity func- tion on D.
D = {'red','white','blue'}
{x:x for x in D}

{'white': 'white', 'blue': 'blue', 'red': 'red'}

In [12]:
# Task 0.5.25
# dictionaries that map number between 0 to 99 to list of 3 digits that represnt that number.
base = 10
digits = set(range(base))
{x:[a,b,c] for x in range(10) for a in digits for b in digits for c in digits if (base**2)*a+(base**1)*b+(base**0)*c == x}

{0: [0, 0, 0],
 1: [0, 0, 1],
 2: [0, 0, 2],
 3: [0, 0, 3],
 4: [0, 0, 4],
 5: [0, 0, 5],
 6: [0, 0, 6],
 7: [0, 0, 7],
 8: [0, 0, 8],
 9: [0, 0, 9]}

In [13]:
# changing the dictionary in a tuple
mydict.items()

dict_items([('Neo', 'keanu'), ('Morepheus', 'Laurence'), ('Trninity', 'Carrie-Anne'), ('Agent Smith', 'Hugo')])

In [15]:
# Task 0.5.26
id2salary = {0:1000.0, 3:900,1:1200.50}
names = ['Larry','Curly','Moe']

{k:v for (k,v) in set(zip(names, [x for (y,x) in list(id2salary.items())]))}

{'Moe': 1200.5, 'Larry': 1000.0, 'Curly': 900}

#### One Line Procedure

In [24]:
# def introduces a procedure definition.
# Task 0.5.27
def twice(z) : return 2*z

In [19]:
z = list(range(0,10))
twice(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
z = ['a','b','c']
twice(z)

['a', 'b', 'c', 'a', 'b', 'c']

In [26]:
# Task 0.5.28
# Function that returns the next value of each element in the list.
def nextInts(L) : return [x+1 for x in L]

In [27]:
nextInts([1,5,7])

[2, 6, 8]

In [29]:
# Task 0.5.29
# Function that returns cube of each value of the list
def cubes(L) : return [z**3 for z in L]

In [30]:
cubes([1,2,3])

[1, 8, 27]

In [31]:
# Task 0.5.30
# function that search for keylist in dct dictionary and return the value of keylist in a list
def dict2list(dct,keylist) : return [dct[x] for x in keylist]

In [33]:
dct={'a':'A', 'b':'B', 'c':'C'}
keylist=['b','c','a']
dict2list(dct,keylist)

['B', 'C', 'A']

In [34]:
# Task 0.5.31
# function that choose keys from list keylist and values list L and returns a dictionary.
def list2dict(L, keylist) : return {keylist[x]:L[x] for x in range(len(keylist))}

In [36]:
L=['A','B','C']
keylist=['a','b','c']
list2dict(L ,keylist)

{'a': 'A', 'b': 'B', 'c': 'C'}

In [51]:
# Task 0.5.32
# return all the 3 digit number where the base is base
def all_3_digits_numbers(base,digits): return [x for x in range(100) for a in digits for b in digits for c in digits if (base**2)*a+(base**1)*b+(base**0)*c == x]
all_3_digits_numbers(2, {0,1})

[0, 1, 2, 3, 4, 5, 6, 7]

In [48]:
all_3_digits_numbers(3, {0,1,2})

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

In [50]:
all_3_digits_numbers(10, {0,1,2,3,4,5,6,7,8,9})

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### Using existing module
#### Python comes with an extensive library, consisting of components called modules. In order to use the definitions defined in a module, you must either import the module itself or import the specific definitions you want to use from the module.

In [53]:
# Task 0.6.1
# import math module in our working environment.
import math

In [55]:
# Task 0.6.2
from random import randint
randint(1,5)

3

In [67]:
review = ['See it!','A gem!','Ideological claptrap']
def movie_review(name) : return(review[randint(0,len(review)-1)])

In [68]:
movie_review('Ground Hog Day')

'A gem!'